@model DSM.Models.LoginUsuarioViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="login-page">
    <div class="form-card login-card">

        <div class="login-brand">
            <img class="logo" src="~/img/logo.png" alt="TempoShop" /> 
            <div>
                <h1 class="login-title">Accede para continuar</h1>
            </div>
        </div>

        <form class="form-layout" method="post">
            <div class="form-field">
                <label>email</label>
                <input class="form-input" name="dni" />
            </div>

            <div class="form-field">
                <label>Contraseña</label>
                <input class="form-input" type="password" name="password" />
            </div>

            <button class="btn primary-btn" type="submit">Entrar</button>
            <div style="margin-top:10px;">
                <a class="btn ghost-btn" asp-controller="Usuario" asp-action="Register">Regístrate</a>
            </div>

        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
